{% import 'admin/macros/header.twig' as ui_header %}

<header class="main-header">
    <a href="/" class="logo">
        <span class="logo-mini">{% block shortTitle %}{{ shortTitle }}{% endblock %}</span>
          <span class="logo-lg">{% block title %}{{ title }}{% endblock %}</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
        {{ ui_header.toggleMenu() }}

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            	{% block custom %}
            	{% if mails is defined %}
                    {% embed 'admin/embedded/header/mail.twig' with {'mails': mails} %}
                        {% block timing %}{% endblock %}
                    {% endembed %}
                {% endif %}
                {{ ui_header.tasks() }}
                {{ ui_header.notifications() }}
                {{ ui_header.account() }}
                {{ ui_header.settings() }}
                {% endblock %}
            </ul>
		</div>
	</nav>
</header>
