{% import 'admin/macros/header.twig' as ui_header %}

<header class="main-header">
    <a href="index2.html" class="logo">
        <span class="logo-mini">{{ shortTitle }}</span>
          <span class="logo-lg">{{ title }}</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
        {{ ui_header.toggleMenu() }}

        <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            {{ ui_header.mails() }}
            {{ ui_header.tasks() }}
            {{ ui_header.notifications() }}
            {{ ui_header.account() }}
            {{ ui_header.settings() }}
            </ul>
        </div>
    </nav>
</header>
