{% macro _generateLink(link) %}
    {% set route = '#' %}

    {% set parameters = [] %}
    {% if link.parameters is defined %}
        {% set parameters = link.parameters %}
    {% endif %}

    {% if link.route is defined %}
        {% set route = path(link.route, parameters) %}
    {% endif %}

    <a href="{{ route }}">

{% endmacro %}

{% macro item(name, icon, link, badge = {}, active = false) %}
    {% import _self as macro %}

    <li {%  if active == true %}class="active"{% endif %}>
        {{ macro._generateLink(link) }}
            <i class="fa fa-{{ icon }}"></i> <span>{{ name }}</span>
            {% if badge is not empty and badge.text is defined%}
                {% set color = '' %}
                {% if badge.color is defined %}
                    {% set color = badge.color %}
                {% endif %}
                <small class="label pull-right bg-{{ color }}">{{ badge.text }}</small>
            {% endif %}
        </a>
    </li>

{% endmacro %}

{% macro multi(name, icon, links, active = false) %}
    {% import _self as macro %}

    <li {%  if active == true %}class="active"{% endif %}>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-{{ icon }}"></i> <span>{{ name }}</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
          <ul class="treeview-menu">
              {% for link in links %}
            <li>
                  {{ macro._generateLink(link) }}
                      {{ link.text }}
                  </a>
            </li>
            {% endfor %}
          </ul>
    </li>

{% endmacro %}
